package ${package}.${moduleName}.service;
import com.baomidou.mybatisplus.extension.service.IService;

import ${package}.${moduleName}.domain.entity.${className}Entity;
import ${package}.${moduleName}.domain.vo.${className}Vo;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}Entity> {

    Page<${className}Vo> pageList(${className}Vo vo);

    void saveInfo(${className}Vo vo);

    void updateInfo(${className}Vo vo);
}

